@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Custom untuk Aspect Ratio */
.aspect-ratio {
    position: relative;
    width: 100%;
    padding-top: 75%; /* 4:3 Aspect Ratio */
  }
  
  .aspect-ratio img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    /* Pastikan peta Leaflet tidak menimpa navbar */
  .leaflet-container {
    z-index: 0;
  }

  .leaflet-pane,
  .leaflet-top,
  .leaflet-bottom {
    z-index: 0 !important;
  }

  @keyframes fade-blur {
    0% {
      transform: scale(1);
      filter: blur(0px) brightness(1);
    }
    50% {
      transform: scale(1.05);
      filter: blur(1px) brightness(1.1);
    }
    100% {
      transform: scale(1);
      filter: blur(0px) brightness(1);
    }
  }
  
  .animate-fade-blur {
    animation: fade-blur 10s infinite ease-in-out;
  }
  